:root {
  --theme-background-color: #1d88ec;
  --theme-background-color-hover: #1d54ec;
  --theme-border: 1px solid #1d54ec;
  --disabled-opacity: 0.8;
  --disabled-cursor: not-allowed;
  --disabled-background-color: #ededed;
  --disabled-border-color: #c3c3c3;
  --form-border: 1px solid #c3c3c3;
  --form-border-color: #c3c3c3;
  --form-border-width: 1.5px;
  --form-border-style: solid;
  --form-border-radius: 4px;
  --form-placeholder-color: #7d7d7d;
  --form-font-size: 12px;
  --form-padding: 10px;
  --form-box-sizing: border-box;
  --focus-border-color: #2684ff;
  --focus-outline: 0;
  --focus-webkit-box-shadow: inset 0 0 0 1px #2684ff;
  --focus-box-shadow: inset 0 0 0 1px #2684ff;
  --validation-border-color: #e9a744;
  --validation-outline: 0;
  --validation-webkit-box-shadow: inset 0 0 0 1px #e9a744;
  --validation-box-shadow: inset 0 0 0 1px #e9a744;
  --validation-color: #d17d00;
  --validation-font-size: 12px;
  --validation-margin-top: 5px;
}

/* --focus-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
--focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 8px rgba(102, 175, 233, 0.6);
--validation-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
0 0 8px rgba(214, 127, 28, 0.6);
--validation-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
0 0 8px rgba(214, 127, 28, 0.6); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

label.label-required::after {
  content: "*";
  margin-left: 3px;
  color: #ec1d1d;
}

input {
  width: 100%;
  padding: var(--form-padding);
  box-sizing: var(--form-box-sizing);
  border-color: var(--form-border-color);
  border-width: var(--form-border-width);
  border-style: var(--form-border-style);
  border-radius: var(--form-border-radius);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--form-placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--form-placeholder-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--form-placeholder-color);
}

input:disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
  border-color: var(--disabled-border-color);
}

input[type="date" i] {
  padding-inline-start: 1px;
  padding: 8px;
}

input[type="checkbox"] {
  width: unset;
  margin-right: 5px;
}

input:focus {
  border-color: var(--focus-border-color);
  outline: var(--focus-outline);
  -webkit-box-shadow: var(--focus-webkit-box-shadow);
  box-shadow: var(--focus-box-shadow);
}

input.error-validation {
  border-color: var(--validation-border-color);
  outline: var(--validation-outline);
  -webkit-box-shadow: var(--validation-webkit-box-shadow);
  box-shadow: var(--validation-box-shadow);
}

button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: var(--theme-background-color);
  border: var(--theme-border);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--theme-background-color-hover);
  border: var(--theme-border);
}

button:disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
  color: rgba(0, 0, 0, 0.411);
  border-color: var(--disabled-border-color);
}

fieldset {
  display: block;
  margin: 0;
  padding: 15px 15px 0px 15px;
  min-inline-size: min-content;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  background-color: rgb(238, 238, 238, 0.2);
  border-color: rgb(141, 141, 141, 0.2);
  border-image: transparent;
}

div.error-validation {
  font-size: var(--validation-font-size);
  margin-top: var(--validation-margin-top);
  color: var(--validation-color);
}

.login-box {
  height: 250px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 15px;
}

.btn-show {
  font-size: 10px;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* start custom select options */
.select-container {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: var(--form-font-size);
  box-sizing: var(--form-box-sizing);
  border-color: var(--form-border-color);
  border-width: var(--form-border-width);
  border-style: var(--form-border-style);
  border-radius: var(--form-border-radius);
}

.select-placeholder {
  color: var(--form-placeholder-color);
}

.select-is-disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
}

.select-is-active {
  border-color: var(--focus-border-color);
  outline: var(--focus-outline);
  -webkit-box-shadow: var(--focus-webkit-box-shadow);
  box-shadow: var(--focus-box-shadow);
}

.select-error-validation {
  border-color: var(--validation-border-color);
  outline: var(--validation-outline);
  -webkit-box-shadow: var(--validation-webkit-box-shadow);
  box-shadow: var(--validation-box-shadow);
}

.select-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: var(--form-border-radius);
  z-index: 1;
  background-color: white;
}

.select-options {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  border: var(--form-border);
}

.select-container ul li {
  list-style-type: none;
  padding: var(--form-padding);
  border-bottom: var(--form-border);
  cursor: pointer;
  text-align: left;
}

.select-container ul li:last-child {
  border-bottom: none;
}

.select-container ul li:hover {
  color: white;
  background-color: var(--theme-background-color-hover);
}

.selected-text-checked {
  color: white;
  background-color: var(--theme-background-color-hover);
}

.selected-text {
  padding: var(--form-padding);
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: black transparent transparent transparent;
}

.show-dropdown-options {
  min-height: 50px;
  opacity: 1;
  visibility: visible;
}

.hide-dropdown-options {
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}
