body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

label.label-required::after {
  content: "*";
  margin-left: 3px;
  color: #ec1d1d;
}

input {
  width: 100%;
  padding: 10px;
  /* margin-top: 5px; */
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

input:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

input[type="checkbox"] {
  width: unset;
  margin-right: 5px;
}

input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

input.error-validation {
  border-color: #e9a744;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(214, 127, 28, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(214, 127, 28, 0.6);
}

button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #1d88ec;
  border: 1px solid #1d54ec;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1d54ec;
  border: 1px solid #1d54ec;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

fieldset {
  display: block;
  margin: 0;
  padding: 15px 15px 0px 15px;
  min-inline-size: min-content;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  background-color: rgb(238, 238, 238, 0.2);
  border-color: rgb(141, 141, 141, 0.2);
  border-image: transparent;
}

div.error-validation {
  font-size: 12px;
  margin-top: 5px;
  color: #e9a744;
}

.login-box {
  height: 250px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 15px;
}

.btn-show {
  font-size: 10px;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
